<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gaming</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link href="../css/style/style.css" rel="stylesheet" type="text/css" />
    <link href="../css/style/zombie.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!---Nav-->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a href="../index.html">
        <img
          src="../imgs/logo2.png"
          alt="logo"
          id="logo"
          class="d-none d-sm-block d-md-block d-lg-block d-xl-block mr-5"
        />
      </a>
      <h1>GAMING FORCE</h1>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
        <!--CSS-->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              CSS
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../index.html">Index</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Zombie Game</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="map.html">Map</a>
            </div>
          </li>
        </ul>
        <!--Bootstrap-->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Bootstrap
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../bootstrap/gallery.html"
                >Gallery</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="../bootstrap/tables.html"
                >Tables</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="../bootstrap/form.html">Form</a>
            </div>
          </li>
        </ul>
        <!--Tailwind-->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Tailwind
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../tailwind/articles.html"
                >Articles</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="../tailwind/gameAwards.html"
                >Game Awards</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="../tailwind/iframe.html">Iframe</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            id="inputNav"
          />
          <button
            class="btn btn-outline-light my-2 my-sm-0"
            id="botonNav"
            type="submit"
          >
            Search
          </button>
        </form>
      </div>
    </nav>

    <div class="rules">
      <h1 id="ruleh1">Welcome to the Zombie game</h1>
      <p>
        The rules of the game are quite simple, you just have to use the inputs
        to tell de characterer whatever you want her to do.
      </p>
      <p>Idle: Is the default movement of the zombie.</p>
      <p>
        Attack: The character will swap his animation in to an attack movement.
      </p>
      <p>Die: The character will suddenly die.</p>
      <p>
        Walk: The character will show you a new mobement animation as if she is
        walking.
      </p>
    </div>
    <div class="zombie">
      <div class="inputsZombie">
        <input
          type="radio"
          name="animacion"
          id="idle"
          value="idleWoman"
          checked="checked"
          class="radioI"
        />Idle
        <input
          type="radio"
          name="animacion"
          id="attack"
          value="attackWoman"
          class="radioI"
        />Attack
        <input
          type="radio"
          name="animacion"
          id="die"
          value="dieWoman"
          class="radioI"
        />Die
        <input
          type="radio"
          name="animacion"
          id="walk"
          value="walkWoman"
          class="radioI"
        />Walk
        <div id="imagen"></div>
      </div>
    </div>

    <!--Footer-->
    <footer class="text-center text-white" id="footer">
      <div class="container p-4 pb-0">
        <section class="mb-4">
          <a
            class="btn btn-outline-dark btn-floating m-1"
            href="#!"
            role="button"
            ><i class="fa-brands fa-facebook"></i
          ></a>
          <a
            class="btn btn-outline-dark btn-floating m-1"
            href="#!"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            class="btn btn-outline-dark btn-floating m-1"
            href="#!"
            role="button"
            ><i class="fab fa-google"></i
          ></a>
          <a
            class="btn btn-outline-dark btn-floating m-1"
            href="#!"
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>
          <a
            class="btn btn-outline-dark btn-floating m-1"
            href="#!"
            role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>
          <a
            class="btn btn-outline-dark btn-floating m-1"
            href="#!"
            role="button"
            ><i class="fab fa-github"></i
          ></a>
        </section>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright: Iván Mosteo Lop
      </div>
    </footer>
  </body>
</html>
